html {
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
}
.sec1-content

{
    padding: 0;
    position: relative;
}
.toping
{
    position: absolute;
    top: 300px;
    left: 80px;
    /* padding-bottom: 100px; */
}
.my-file
{
    width: 100% !important;
    margin: 0;
    padding: 0;
}
.my-file .item
{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
}
.my-file .item:nth-child(4)
{
    background-image: url("../images/1.jpg");
}
.my-file .item:nth-child(3)
{
    background-image: url("../images/2.jpg");
}
.my-file .item:nth-child(2)
{
    background-image: url("../images/3.jpg");
}


[id^="sec"]:not(#sec1){
    padding: 100px 0;
}

#sec1 .col-lg-6 img,
#sec2 img,
.back-img img,
#sec4 img,
.data img,
.card-img img,
#sec8 .sofa img {
    width: 100%;
}

#sec2 img,
.back-img img,
#sec4 img,
.card-img img {
    border-radius: 20px;
}

#sec1,nav {
    background-color: transparent !important;
    /* z-index: 0; */
    font-weight: 700;
    border: none !important;
}

nav {
    text-transform: capitalize;
    padding: 20px 0;
    position: absolute !important;
    /* top: 10px !important; */

}
.cards,.blank,.amy
{
    margin: 30px 0;

}
#sec3 .blank 
{
    min-height: 160px;
    max-height: 200px;
}
.card-img:hover
{
    background-color: white;
    opacity: .5;
    transition-duration: .7s;
    border-radius: 20px;
}
.lev
{
    bottom: -80px;
}
.laster section:nth-child(2)
{
    text-align: right;
}
.name
{
    color: white !important;
    font-size: 1.6rem;
}
.navbar-nav li a:hover
{
    color: rgb(229, 204, 204) !important;
    transition-duration: 1s;

}
nav .lines-yel a 
{
    overflow: hidden;
    position: relative;
    font-size: .8rem;
    color: white !important;
}
nav .lines-yel a::before
{
    content: "";
    width: 100%;
    position: absolute;
    left: -500px;
    bottom: 0;
    border-bottom: 4px solid #F9BF29;
    transition-duration: .5s;
}
nav .lines-yel a:hover::before
{
    left: 0px;    
    /* color: rgb(199, 26, 26) !important; */
}
#sec2 .amy:hover .ariana
{
    transform: translateY(-18px);
    transition-duration: 1s;
}
.amy 
{
    position: relative;
}
#sec2 .cross img
{
   
    width: 30px;
    height: 30px;
}
#sec2 .cross
{
    padding-top: 20px;
    opacity: 0;
    border-radius: 20px;
    width: 94%;
    height: 10%;
    position: absolute;
    bottom: -32px;
    background: linear-gradient(rgba(220,229,228,.5)0%,rgba(220,229,228,.8)100%);
    transition-duration: .4s;
}
#sec2 .cross img 
{
    position: absolute;
    bottom: -10px;
    background-color: #000;
    padding: 6px;
    left: 45%;
}
#sec2 .amy:hover .cross
{
    opacity: 1;
    height: 80%;
}
/* #sec1 .sec1-content {
    padding-top: 70px;
} */

#sec1 .sec1-content h1 {
    font-size: 3rem;
}
.b1
{
    border-radius: 100px;
    color: #2F2F2F;
    text-transform: capitalize;
    background-color:#F9BF29 ;
}
.b2
{
    margin-left: 10px;
    border-radius: 100px;
    color: white;
    border: .5px solid #9DAEA8;
    text-transform: capitalize;
    background-color:transparent ;

}
.b3
{
    margin-left: 10px;
    border-radius: 100px;
    color: white;
    /* border: .5px solid #9DAEA8; */
    text-transform: capitalize;
    background-color:#2F2F2F ;
    transition-duration: .4s;

}
.b3:hover
{
    color: white;
    background-color: black;
}
#sec2 h3
{
    text-transform: capitalize;
}
#sec2 b 
{
    font-size: 1rem;
}
.b2:hover
{
    color: white !important;
    border-color: white;
}
.sec1-content h1 
{
    color: white;
}
#sec2 .tex,#sec4 .tex,.sec1-content h3,#sec5 p 
{
    color: #9DAEA8;
    margin: 25px 0;
}
.sec1-content p
{
    color: whitesmoke;
    font-size: 1.1rem;
}
.sec1-content h3
{
    color: whitesmoke;
    margin-bottom: 50px;
}
#sec5 a 
{
    color: #000;
    text-decoration: none;
}
#sec4 .tex
{
    line-height: 2;
}
.back-img,.sof {
    position: relative;

}
.pattrn
{
    position: absolute;
    top: 35px;
    right: -99px;
    z-index: 0;
}
.sof img
{
    z-index: 1;
    position: relative;
}
.back-img::before {
    position: absolute;
    background-image: url("../images/dots-yellow.svg");
    content: "";
    top: -50px;
    left: -50px;
    width: 200px;
    height: 200px;
    z-index: -1;
}
.carousel-indicators li.active
{
    background-color: #3B5D50 !important;
}

.carousel-indicators li
{
    background-color: #9DAEA8 !important;
}
.item 
{
    padding-bottom: 40px;
}
.tag,
.data .col-lg-4 {
    position: relative;
}

.tag::before {
    position: absolute;
    background-image: url("../images/dots-green.svg");
    background-repeat: no-repeat;
    top: -80px;
    left: -80px;
    width: 300px;
    height: 300px;
    content: "";
}

.mov {
    position: absolute;
    top: 240px;
    left: 333px;
}

.data .col-lg-4::before {
    position: absolute;
    background-color: #DCE5E4;
    opacity: .5;
    content: "";
    width: 80%;
    height: 90%;
    border-radius: 20px;

}
#sec5 a:hover
{
    color: #CBD5D1;
    transition-duration: .2s;
}
.carousel-inner
{
    width: 60%;
    margin: 0 auto;
}
.carousel-control
{
    background: none !important;
}
.colm::before
{
    padding: 20px;
    background: rgba(59, 93, 80, 0.1);
    border-radius: 100%;
}
#sec6 .item img {
    width: 10%;
    margin: 0 auto;
    border-radius: 100%;
}
#sec7,#sec2 
{
    background-color: #EFF2F1;
}
#sec3 .icon
{
    position: relative;
}
#sec3 .icon::after
{
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #CBD5D1;
    top: 17px;
    left: 20px;
    z-index: -1;
    clip-path: polygon(48% 51%, 83% 12%, 100% 43%, 48% 50%, 68% 100%, 32% 100%, 47% 50%, 0% 43%, 17% 12%);
    /* clip-path: circle(50% at 50% 50%); */
    animation: rotatefan 2s infinite linear;
} 
@keyframes rotatefan
{
    to 
    {
        transform: rotate(360deg);
    }
}
.blank h6,#sec5 h6
{
    font-weight: bold;
    font-size: .7rem;
    margin: 8px 0;
}
#sec8
{
    position: relative;
}
.sofa 
{
    position: absolute;
    top: -104px;
    right: 0;
}
footer ul li
{
    list-style: none;
}
footer a 
{
    text-decoration: none;
    color: black;
    cursor: pointer;
    line-height: 2.2;
}
footer .col-lg-8 
{
    padding-top: 75px;
}
/* footer .ic 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */
footer i 
{
    padding: 14px;
    border-radius: 100%;
    background-color: #DCE5E4;
    margin: 5px;
}
.laster
{
    border-top: 1px solid #000;
}

#sec8 input,#sec8 input::placeholder
{
    padding: 22px 10px;
}
#sec8 input,#sec8 button
{
    margin-top: 20px;
}
#sec8 button
{
    padding: 12px 20px;
}
footer i:hover
{
    background-color:black ;
    color: white;
    transition-duration: .3s;
}

#privacy
{
    margin: 20px 0;
}
#terms 
{
    /* margin-top: 80px; */
    padding-top: 80px;
}
#privacy p, #terms p 
{
    font-size: 1rem;
}
#privacy b, #terms b 
{
    font-size: 1.2rem;
}
#contact 
{
    padding: 30px 0;
    margin: 0 auto;
    background-color: #DAD7CE;
}
#contact .form-control
{
    margin: 16px 0;

}
#sec6 .item
    {
        min-height: 32vh;
    }
    footer 
    {

        background: linear-gradient(120deg, #F7F7F7, #C9C4B5);
        padding-top: 50px;
        padding-bottom: 20px;
        color: #555555;
        /* #FFAAFA */
    }
    footer * {
        color: #555555 !important;
      }
      footer i:hover {
        color: white!important;
      }

@media (max-width:1024px)
{
    .pattrn{
        right: -18px;
    }
    .gap-md
    {
        margin-top: 50px;
    }
}
@media (max-width:768px)
{
    .back-img::before {
        top: 255px;
    }
    .gap-md
    {
        margin-top: 130px;
    }
}
@media (max-width:450px)
{
    .pattrn {
        display: none;
    }

    .back-img::before,.tag::before 
    {
        content: none;
    }
    .sofa
    {
        position: relative;
        top: 0;
    }
    .mov 
    {
        position: relative;
        top: 0;
        left: 0;
    }
    #sec4 img 
    {
        margin: 20px 0 !important;
    }
    #sec6 .item img {
        width: 40%;
    }
    #sec6 .item
    {
        min-height: 560px;
    }
    #sec7 h2 
    {
        font-size: 20px;
        margin-bottom: 25px;
    }
    .laster,.laster section:nth-child(2)
    {
        text-align: center;
    }
    [id^="sec"]:not(#sec1){
        padding: 50px 0;
    }
    #sec1 .sec1-content h1
    {
        font-size: 2rem;
    }
    .toping {
        top: 150px;
        left: 46px;
    }
}